/* You can add global styles to this file, and also import other style files */
.body {
    background-color: #4695D1 !important;
}

.btn-fidem {
    color: black;
    border-color: black !important;
}
.btn-fidem:hover {
    color:black;
    background-color:#F9C146;
    border-color:#F9C146
}