<!-- CONTEUDO -->
<div class="content-wrap">
	<div class="content">
		<!-- Centralizar -->
		<div class="centralizar box">
			<!--<p-growl [(value)]="msgs"  life="5000"></p-growl>-->
			<fieldset class="form-group">
				<legend>Gerar - Código da Bonificação</legend>
				<div class="">
					<fieldset class="form-group" >
						<legend>Reultado:</legend>
					</fieldset>
					<div class="botoes">
						<button class="btn btn-outline-success btn-fidem my-2 my-sm-0" type="submit" (click)="gerar()">Gerar</button>
					</div>
				</div>
				<!-- /Botoes -->
			</fieldset>

		</div>
	</div>
</div>