<div style="text-align:center">
  <div style="text-align:center">
    Empresa / Prestador de Serviço
    <br/>
    <br/>
    <br/>
    1 - O login pela EMPRESA ou Prestador de Serviços deve ser feito via \"E-mail e Senha\" que deverá ser cadastrado entrando em contato conosco da R2S;
    <br/>
    2 - Logado com empresa(Empresa pode ser PF ou PJ), possuem 3 telas: 
    <br/>
    3 - Tela de Gerar Código: Gera o código diário da empresa. Toda empresa deve gerar o seu código e passar para os clientes utilizarem.
    <br/>
    4 - Tela de Visualizar FIDEM´s Pendentes: Verifica os FIDEM´s que estão cadastrados para a empresa poder aceitar ou recusar;
    <br/>
    5 - Tela de Bonificação: Verifica as Bonificações Solicitadas pelo usuário que já alcançou o número de pedidos definidos pela empresa;  
    <br/>
    <br/>
    Clientes
    <br/>
    <br/>
    1 - O login via facebook é para os usuários que são clientes do sistema; (Ao fazer o login via facebook, automaticamente você é cadastrado no sistema)
    <br/>
    2 - Logado como Cliente, possuem 3 telas:
    <br/>
    3 - Busca de Serviços: Realiza o filtro para o cliente chegar à empresa ou prestador de serviços que está buscando e possui 2 botões(Contato e Cadastrar Código)
    <br/>
    3.1 - O botão de Contato: Direciona para uma tela com as informações da empresa selecionada e possui um campo para enviar uma mensagem para a empresa, que será um chat entre os dois lados;
    <br/>
    3.2 - O botão Cadastrar Código: Abre uma tela com a empresa selecionada onde o Usuário informa o código fornecido pela empresa e realiza uma avaliação da qualidade do serviço
    <br/>
    4 - Tela de Verificar Situação: Tela onde o usuário ver os seus FIDEM´s que estão ativos em todas as empresas que utilizou o serviço
    <br/>
    5 - Ativar Bonificação: Tela onde o usuário ativa a bonificação que quer utilizar caso tenha alcançado o número máximo de pedidos que a empresa definiu;
</div>
</div>